@use '../../components/Constant.scss' as c;
@use '../../components/animations/strikethrough.scss' as a;

// mobile first
.fa-solid{
    mix-blend-mode: difference;
}

#home{
    background-color: c.$bg1;
    color: c.$font1;

    .container{
        
        .school{
            font-size: 0.8rem; 
            color: c.$font2;
            mix-blend-mode: screen;

            .fa-solid{
                padding-right: 10px;
            }
        }
        .email a{
            font-size: .8rem;
        }

        .mobile_hide{
            display: none;
        }

    }

}


// medium screen 
@media screen and (min-width: 768px) {
    #home{
        .container{
            .school{
                align-self: flex-end;
            }

            .email {
                a{
                    font-size: 1.3rem;
                    position: relative;
                }
            }
            .alignStart{
                align-self: flex-start;
            }


            .github{

                display: inline-block;

                color: c.$font1; 
                text-decoration: none;
                margin-top: 10px;
                align-self: flex-start;
                font-size: 1.5rem;
    
                position: relative;
                transition: transform .5s ease;

                    
            }


            .github, .email a{
                i{
                    padding-right: 10px;
                }
                &:hover{
                    transform: translateY(-5%); 
                    &::after{
                        @include a.strikethrough;
                    }
                }
            }
            
        }
        
    }
}


// large screen to expand the nav for 13+inch screens
@media screen and (min-width: 1140px) {

}